@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#add-none {
    display: none;
}

#edit-none {
    display: none;
}

#btn-add-product {
    display: block;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner {
    width: 100%;
    background-image: url("images/banner.png");
    height: 463px;
    margin-top: 10px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

#menu {
    list-style: none;
    display: flex;
}

#menu .item {
    margin: 0px 25px;
}

#menu .item a {
    color: #626A67;
    text-decoration: none;
}

#actions {
    display: flex;
}

#actions .item {
    margin-left: 22px;
}

#banner .box-left,
#banner .box-right {
    width: 50%;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

#banner .box-left p {
    color: #D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover {
    background: orange;
}

#banner .box-right {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}

#banner .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

#banner .box-right img:nth-child(2) {

    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.to-bottom {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

#slogan {
    width: 80%;
    height: 80%;
    display: flex;
    float: left;
    margin-left: 10%;
}

#slogan .box-slogan {
    width: 100%;
    float: right;
    margin-top: 100px;
    height: 400px;

}

#slogan .box-left {
    width: 40%;
    float: left;
    margin-top: 15px;
}

/* #slogan .box-left {
    text-align: center; 
    width: 55%;
    min-height: 322px;
    border: 1px green solid;
} */
#slogan .box-right {
    width: 55%;
    float: right;
    min-height: 55px;
}

#slogan .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#wp-products {
    /* padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px; */
    width: 80%;
    height: 100%;
    display: flex;
    float: left;
    margin-left: 10%;
    margin-top: 100px;
}

#wp-products h2 {
    text-align: center;
    /* margin-bottom: 76px; */
    font-size: 32px;
    color: #626a67;

}

#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background: #362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin: 0px auto;
    margin-top: 17px;
}

#list-products .item .stars {

    display: flex;
    margin: 0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 21px;
}

#list-products .item .desc {
    text-align: center;
    color: #626a67;
}

#list-products .item .price {
    text-align: center;
    color: #f42424;
    font-weight: bold;
    margin-top: 20px;
}

.list-page {
    width: 50%;
    margin: 0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin: 0px 15px;
    width: 37px;
    height: 37px;
    background: #362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page .item a {
    color: #fff;
    text-decoration: none;
}

#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
    margin-top: 100px;
}

#saleoff .box-left,
#saleoff .box-right {
    width: 50%;
}

#saleoff .box-left {
    background: #3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top: 38px;
}

#saleoff .box-left span:nth-child(1) {
    color: #fff;
    font-size: 50px;
}

#saleoff .box-left span:nth-child(2) {
    color: orange;
    font-size: 128px;
}

#saleoff .box-right {
    background-image: url("images/off.png");
}

#comment {
    width: 1012px;
    height: 478px;
    margin: 0px auto;
    margin-top: 184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    color: #626a67;
}

#comment-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition: 0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background: #362f2f;
    border-radius: 20px;
    padding-top: 50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top: 13px;
}

#list-comment .item .stars {
    display: flex;
    margin: 0px auto;
    width: 50%;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

#list-comment .item .text {
    padding: 20px 50px;
    color: #fff;

}

#footer {
    width: 100%;
    background: rgb(0, 0, 0, 0.79);
    height: 322px;
    margin-top: 338px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color: #fff;
}

#footer .box .quick-menu {
    margin-top: 40px;

}

#footer .box .quick-menu .item {
    margin-bottom: 12px;

}

#footer .box .quick-menu,
.item a {
    color: #fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}

#footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}

#list-praduct {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#list-praduct .item {
    width: 290px;
    height: 374px;
    background: rgb(44, 31, 25);
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-praduct .item img {
    display: block;
    margin: 0px auto;
    margin-top: 17px;
    width: 256px;
    height: 174px;
}

#list-praduct .item .name {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 21px;
}

#list-praduct .item .desc {
    text-align: center;
    color: #626a67;
}

#list-praduct .item .price {
    text-align: center;
    color: #f42424;
    font-weight: bold;
    margin-top: 20px;
}

.row {
    width: 100%;
    margin-bottom: 10px;
}

.create-area {
    background-color: rgb(190, 145, 113);
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn {
    border: none;
    outline: none;
    padding: 7px 25px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 2px;
}

.form-group input {
    margin-left: 10px;
    width: 300px;
}

.form-group label {
    width: 100px;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: rgb(49, 46, 46);
    scale: .97;
}

.btn-warning {
    background-color: darkorange;
    color: white;
}

.btn-warning:hover {
    background-color: orange;
    scale: .97;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 4px 0px;
}

.form-control {
    width: 250px;
    border: none;
    outline: none;
    padding: 3px 5px;
    border-radius: 3px;
}

.col-6:not(:first-child) {
    margin-left: 20px;
}

.search {
    background-color: rgb(190, 145, 113);
    padding: 5px 15px;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 10px;
    /* border: #1d1a1a 1px solid; */
}

#ip_find {
    width: 80%;
    border-radius: 3px;
}

.blog {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 300px;
    /* margin: auto; */
}

#list-blog .item {
    width: 23%;
    height: 350px;
    background: rgb(44, 31, 25);
    border-radius: 5px;
    margin-bottom: 50px;
    float: left;
    /* position: absolute; */
    margin-left: 25px;
}

#list-blog .item img {
    display: block;
    margin: 0px auto;
    margin-top: 17px;
    width: 256px;
    height: 174px;
}

#list-blog .item .desc {
    text-align: center;
    color: #626a67;
}

.inbox-contact {
    margin-bottom: 100px;
}

.inbox-contact .inbox-inbox {
    width: 80%;
    margin-left: 10%;
}

.inbox-inbox .label {
    width: 150px;
    display: inline-block;

}

.inbox-inbox input {
    display: inline-block;
    width: 70%;
    height: 30px;
    margin: 3px 0 3px 50px;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 10px 150px;
}

.inbox-contact button {
    width: 70px;
    height: 35px;
    margin-left: 50%;

}

.location {
    line-height: 50px;
    margin-bottom: 55px;
}

.section {
    margin-top: 55px;
}

.order {
    width: 70%;
    margin-left: 15%;
}

tbody td {
    text-align: center;
    padding: 10px 10px;
}

tbody td input {
    width: 100%;
    text-align: center;
    height: 40px;
}

tbody td button {
    width: 150px;
    height: 40px;
    background-color: aqua;
    color: orange;
    border-radius: 15px;
    border: none;

}

tbody td button:hover {
    background-color: #f42424;
    cursor: pointer;
    ;
}

#pagination{
    list-style: none;
    display: flex;
}

.page-item>button{
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 3px;
    margin-right: 2px;
}

.page-item>button:hover{
    background-color: orange;
    cursor: pointer;
}

.active{
    background-color: darkorange;
    color: white;
}

.paging-area{
    display: flex; 
    justify-content: space-between; 
}

.custom-select{
    width: 60px;
    border: 1px solid orange;
}
#pagination{
    list-style: none;
    display: flex;
}

.page-item{
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 3px;
    margin-right: 2px;
}

.page-item:hover{
    background-color: orange;
    cursor: pointer;
}

.active{
    background-color: darkorange;
    color: white;
}

.paging-area{
    display: flex; 
    justify-content: space-between; 
}

.custom-select{
    width: 60px;
    border: 1px solid orange;
}
.btn{
    border: none;
    outline: none;
    padding: 7px 25px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 2px;
}

.btn-dark{
    background-color: black;
    color: white;
}

.btn-dark:hover{
    background-color: rgb(49, 46, 46);
    scale: .97;
}

.btn-danger{
    background-color: rgb(250, 5, 5);
    color: white;
}

.btn-danger:hover{
    background-color: rgb(212, 33, 33);
    scale: .97;
}

.btn-warning{
    background-color: darkorange;
    color: white;
}

.btn-warning:hover{
    background-color: orange;
    scale: .97;
}
.d-none{
    display: none;
}
.times, .plus{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    margin-left: 135px;
}
.times:hover, .plus:hover{
    color: red;
}
#list-praduct .item .times {
    width: 20px;
}
.product .active{
    background-color: darkorange;
    color: white;
}

